#header
	{
		padding:10px;
		width: 500px;
		height: 200px;
	}

#sidebar
	{
		position: absolute;
		clear: left;
		margin:25px;
		width: 200px;
		height: 400px;
		border-style: solid;
		border-width: 5px;
	}

#contentArea
	{
		float: right;
		border-style: solid;
		border-width: 5px;
		text-align: center;
		width: 400px;
		height: 400px;
	}

.linkStyle
	a:link{color: #009900;}
	a:visited{color: #999999;}
	

.my-styling
	{
		font-size: 28px;
		font: courier new;
	}

#footer
	{
		clear: both;
	}	

.bottomimage
	{
		position: absolute;

	}

.topcaption
	{
		position: absolute;
		z-index: 2;
	}




